<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment content</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><h4><%= comment.comment_content %></h4></td>
      </tr>
    <% end %>
  </tbody>
</table>

