<p id="notice"><%= notice %></p>

<p>
  <strong>Comment content:</strong>
  <%= @comment.comment_content %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Lect:</strong>
  <%= @comment.lect %>
</p>

