<style>
  link_to{
    text-decoration:none;
  }
</style>

<div class="container">
    <table class="table">
    <thead>
        <tr>
          <th  class="btn-info">courses
        <%= link_to 'Back', courses_path,class:"btn btn-info pull-right a" %>
        <% if current_user&& @course.user==current_user&&current_user.access_right=="instructor" %>
              <%= link_to 'Add lecture', new_lect_path ,class:"btn btn-info pull-right a"%> 
        <% end %>
        </th>
        </tr>
    </thead>
    <tbody>
    <tr>
    <td>
        <ul>
              <% @course.lects.each do |lect|%>
                 <li><h3>  <%= link_to lect.title ,lect %></h3></li>
                   <%end%>
        </ul>
    </td> 
     
    </tr>
    </tbody>
    </table>



